@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-white: #f8f9fa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
